MONGO_URI= mongodb+srv://<username>:<password>@cluster.example.mongodb.net/yourdbname

JWT_SECRET= your_super_secret_key_here
JWT_EXPIRES_IN=your_jwt_tokens_expire_time_here

REFRESH_TOKEN_SECRET=your_refresh_token_secret_here_different_from_jwt_secret
REFRESH_TOKEN_EXPIRES_IN=your_refresh_tokens_expire_time_here

GEMINI_API_KEY=  your_gemini_api_key_here
AI_MODEL= model_name_here


PORT=your_port_number_here

FRONTEND_URL= your_frontend_url_here

# Cloudinary configuration for image uploads
CLOUD_NAME=cloud_name_here
CLOUD_API_KEY=cloud_api_key_here
CLOUD_API_SECRET=cloud_api_secret_here

HF_API_KEY=your_huggingface_api_key_here

EMAIL_USER=your_email_address_here
EMAIL_PASS=your_onetime_app_password_here